
@import "bulma/bulma";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito sans';
    position: relative;
    color: #102035;
    font-size: 15px
}

.logo-clip {
    height: 600px;
    position: absolute;
    clip-path: inset(25% 0% 25% 0);
    right: 250px;
    opacity: 0.3
}

.center-select {
    text-align-last: center;
}
